<app-menu-bar [sectionColor]="sectionColor"></app-menu-bar>

<div class="page-container">
  <div class="page-header" [style.background]="sectionColor">
    <div class="page-header-content">
            <fa-icon [icon]="getIconForSection()" style="font-size: xxx-large;"></fa-icon>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>

  <div class="page-content">
    <div class="content-card">
      <h2>Documentación</h2>
      <p>
        Acceso a documentos y formatos mediante Google Drive.
      </p>

      <a href="#" target="_blank">
        <div class="info-grid">
          <div class="info-item">
            <fa-icon [icon]="faFilePdf"></fa-icon>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
