.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 2.5rem;
    margin: 0;
  }
}
::ng-deep .custom-menubar .p-menuitem-icon {
  // font-size: 1.3rem !important;  // Ajusta a tu gusto
  width: auto;
  margin-right: 0.5rem;
}